<<<<<<< HEAD
 body {
    background-color: black;
 }

h1 {
    font-size:xx-large;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 5px yellow;
    background-color:dimgray;
    color:azure
    
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
img {
    width: 250px;
    height: 250;
    object-fit: cover;
    border-radius: 50%;
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.photo-button {
    background-color: transparent;
    border: none;
    padding: 0;

}

/* style container to limit its maximum width, center it horizontally */
.container {
    /* set maximum width of container to 800px */
    max-width: 800px;
    /* center container horizontally within the viewport */
    margin: 0 auto;
    /* add padding inside the container */
    padding: 200px;
    /* set background color of container */
    background-color: #fff;
    /* apply rounded corners to container */
    border-radius: 10px;
    /* add a sutble box shadow to container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container {
    /* prevents images from wrapping */
    white-space: nowrap;
}
.image-container img {
    /* display images in one line */
    display: inline-block;
    /* adjust spacing between images */
    margin-right: 10px;
}

=======
 body {
    background-color: black;
 }

h1 {
    font-size:xx-large;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 5px yellow;
    background-color:dimgray;
    color:azure
    
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
img {
    width: 250px;
    height: 250;
    object-fit: cover;
    border-radius: 50%;
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.photo-button {
    background-color: transparent;
    border: none;
    padding: 0;

}

/* style container to limit its maximum width, center it horizontally */
.container {
    /* set maximum width of container to 800px */
    max-width: 800px;
    /* center container horizontally within the viewport */
    margin: 0 auto;
    /* add padding inside the container */
    padding: 200px;
    /* set background color of container */
    background-color: #fff;
    /* apply rounded corners to container */
    border-radius: 10px;
    /* add a sutble box shadow to container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container {
    /* prevents images from wrapping */
    white-space: nowrap;
}
.image-container img {
    /* display images in one line */
    display: inline-block;
    /* adjust spacing between images */
    margin-right: 10px;
}

>>>>>>> dc02f2f5257fa0fd600755f52671a926832ec482
